<div class="container-fluid">
  <ng-progress id="progressBar"></ng-progress>
  <header *ngIf="currentWeather && currentWeather.main">
    <div class="row">
      <div class="col header">
        <h1>{{locationName}}</h1>
        <span class="temp">Temperature: {{currentWeather.main.temp}} &#176; | {{getOutlookDescription()}} <img id="currentWeatherIcon" src="http://openweathermap.org/img/w/{{fetchCurrentWeatherIconCode()}}.png" alt=""></span>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>
</div>


