<div class="container-fluid">
  <header *ngIf="currentWeather && currentWeather.main">
    <div class="row">
      <div class="col-sm header">
        <img id="currentWeatherIcon" src="http://openweathermap.org/img/w/{{fetchCurrentWeatherIconCode()}}.png" alt="">
        <h1>{{locationName}}</h1>
        <span class="temp">{{currentWeather.main.temp}} &#176; | {{getOutlookDescription()}}</span>
      </div>
    </div>
  </header>
  <section id="forecast">
    <div class="row" *ngFor="let day of forecast">
      <div class="col-1"></div>
      <div class="col-6">
        {{getDateFormatForTimestamp(day.dt_txt)}}
      </div>
      <div class="col-2">{{getTemperatureForDay(day)}} &#176;</div>
      <div class="col-3">
        <img class="forecast-icon" src="http://openweathermap.org/img/w/{{day.weather[0].icon}}.png" alt="">
      </div>
    </div>
  </section>
</div>

<router-outlet></router-outlet>
