<div class="card-body" *ngIf="forecast">
  <div class="row" *ngFor="let day of forecast">
    <div class="col-sm-6 col-md-6 col-lg-3">
      <i class="fa fa-clock fs-2x"></i>
      {{getDateFormatForTimestamp(day.dt_txt)}}
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
      <i class="fa fa-wind fs-2x"></i>
      Wind Speed: {{getWindSpeedForDay(day)}} Knots
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
      <i class="fa fa-thermometer-empty fs-2x"></i>
      Temperature: {{getTemperatureForDay(day)}} &#176;
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
      <i class="fa fa-pen fs-2x"></i>
      {{getOutlookDescriptionForDay(day)}}
    </div>
  </div>
</div>
